$sidebar-bg-color: #ffffff;
$sidebar-color: #000000;
$highlight-color: #21358b;
$submenu-bg-color: #ffffff;
$submenu-bg-color-collapsed: #ffffff ;

@import '~react-pro-sidebar/dist/scss/styles.scss';
